<div class="container">
  <div class="row" style="border-bottom: 1px solid black">
    <div class="col-8 col-md-8 order-md-2 mb-2">
      <label class="labelConq">Ultimas Conquistas:</label>
      <img class="conquista_icon" src="assets/img/running.svg"/>
      <img class="conquista_icon" src="assets/img/swimming-pool.svg"/>
      <img class="conquista_icon" src="assets/img/cycling.svg"/>
    </div>
    <div class="col-4 col-md-4 order-md-2 mb-2">
      |<img class="conquista_icon" src="assets/img/cup.svg"/>
      <label class="pontuacao">{{usuario.pontuacao}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-2 mb-4" style="height: 350px;">
      <div class="Menu">
        <div id="perfil">
            <img class="menu_icon" src="assets/img/user.svg"/>
            <label class="labelMenu">Peril</label>
        </div>
        <div id="perguntas">
            <img class="menu_icon" src="assets/img/question.svg"/>
            <label class="labelMenu">Perguntas</label>
        </div>
        <div id="desafios">
            <img class="menu_icon" src="assets/img/trophy.svg"/>
            <label class="labelMenu">Desafios</label>
        </div>
        <div id="dicas">
            <img class="menu_icon" src="assets/img/tips.svg"/>
            <label class="labelMenu">Dicas</label>
        </div>
        <div id="ranking">
            <img class="menu_icon" src="assets/img/promotion.svg"/>
            <label class="labelMenu">Ranking</label>
        </div>
        <div id="resultados">
            <img class="conquista_icon" src="assets/img/heart.svg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-2 mb-4">
      <app-mario></app-mario>
    </div>
  </div>
</div>
