<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-2 mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <div class="card" style="cursor: pointer" (click)="navegar('/dashboard')" >
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
      <a href="#" routerLink="/dashboard">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Portal</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
        </a>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Institucional</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
